$sizes: (
  0: 0.75rem,
  1: 1rem,
  2: 1.125rem,
  3: 1.5rem,
  4: 2rem,
  5: 2.125rem,
  6: 2.5rem,
  6_0: 2.75rem,
  7: 3rem,
  8: 3.125rem,
  9: 3.5rem,
  9_5: 3.75rem,
  10: 4.25rem,
  11: 4.5rem,
  12: 5rem,
  13: 5.5rem,
  14: 5.938rem,
  15: 6.438rem,
  16: 9rem,
  17: 10rem,
  // 1: 5.938rem,
);

$size-0: 0.75rem;
$size-1: 1rem;
$size-2: 1.125rem;
$size-2_0: 1.313rem;
$size-3: 1.5rem;
$size-3_0: 1.875rem;
$size-4: 2rem;
$size-5: 2.125rem;
$size-6: 2.5rem;
$size-6_0: 2.75rem;
$size-7: 3rem;
$size-8: 3.125rem;
$size-9: 3.5rem;
$size-9_0: 3.75rem;
$size-10: 4.25rem;
$size-11: 4.5rem;
$size-12: 5rem;
$size-13: 5.5rem;
$size-14: 5.938rem;
$size-15: 6.438rem;
$size-19: 9rem;
$size-17: 10rem;
